/**********************************************
               Common Style
***********************************************/
*{
    text-decoration: none;
}

body{
    font-family: 'Poppins', sans-serif;
}

/**********************************************
        Header-section Css code start
***********************************************/
.container{
    padding: 40px 102px;
}
.header-section{
    display: flex;
    background: #161616;
    border-radius: 30px;
    padding: 71px;
}
.heading-left, .heading-right{
    width: 50%;
}
.heading-left h1{
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    line-height: 80px;
}
.heading-left p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding-bottom: 30px;
    text-align: justify;
}
.heading-btn{
    background: #DD0000;
    border: 2px solid #DD0000;
    border-radius: 5px;
    padding: 14px 25px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.heading-btn .fa-arrow-right{
    margin-left: 5px;
}

.heading-btn:hover{
    background: #fff;
    border: 2px solid #DD0000;
    color: #DD0000;
}

.banner-image img {
    width: 559px;
    height: 600px;
    position: absolute;
}

/**********************************************
        Header-section Css code end
***********************************************/

/**********************************************
        news-section Css code start
***********************************************/
.news-section{
    display: flex;
}
.side-menu{

}

.card-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.card{
    border: 1px solid lightgray;
    border-radius: 10px;
}

.card-image{
    
}

.card-image img{

}

.card-content{
    padding: 20px;
}

.card-btn{
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    border-radius: 5px;
    border: 1px solid#161616;
    padding: 5px 20px;
    transition: 0.2s ease-in-out;
}

.card-btn:hover{
    background: #DD0000;
    border: 1px solid #fff;
    color: #fff;
}
.card-content h2{
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    margin-bottom: 5px;
}

.servics{
    display: flex;
    gap: 25px;
}

.servics p{
    color: red;
    font-size: 16px;
    color: rgba(22, 22, 22, 0.7);
}

.fa-clock, .fa-message{
    margin-right: 10px;
}
/**********************************************
        news-section Css code end
***********************************************/