/**********************************************
               Common Style
***********************************************/
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/**********************************************
        Header-section Css code start
***********************************************/
.container {
    padding: 40px 86px;
}
.header-section {
    display: flex;
    background: #161616;
    border-radius: 30px;
    padding: 111px 71px;
}
.heading-left, .heading-right{
    width: 50%;
}
.heading-left h1{
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    line-height: 80px;
}
.heading-left p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 61px 0px;
    text-align: justify;
}
.heading-btn{
    background: #DD0000;
    border: 2px solid #DD0000;
    border-radius: 5px;
    padding: 14px 25px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.heading-btn .fa-arrow-right{
    margin-left: 5px;
}

.heading-btn:hover{
    background: #fff;
    border: 2px solid #DD0000;
    color: #DD0000;
}

.banner-image img {
    width: 559px;
    height: 600px;
    position: absolute;
}

/**********************************************
        Header-section Css code end
***********************************************/

/**********************************************
        news-section Css code start
***********************************************/
.news-section{
    display: flex;
    gap: 25px;
    padding-bottom: 80px;
}
.side-menu {
    max-width: 50%;
}
aside.menu-bar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 4em;
    gap: 20px;
    background-color: #161616;
    padding: 20px;
    border-radius: 10px;
}

.aside-btn{
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    border: 1px solid #161616;
    padding: 5px 20px;
    background: #FFFFFF;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    text-align: center;
}

.aside-btn:hover{
    background-color: #DD0000;
    border: 1px solid #DD0000;
    color: #fff;
}

#blog{
    background-color: #DD0000;
    color: #FFFFFF;
}

#blogs{
    background-color:darkorange;
    color: #fff;
}
#blog:hover,
#blogs:hover{
    color: #161616;
    border: 1px solid #161616;
    background: #FFFFFF;
}

.card-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.card{
    border: 1px solid lightgray;
    border-radius: 10px;
}

.card-content{
    padding: 20px;
}

.card-btn{
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    border-radius: 5px;
    border: 1px solid#161616;
    padding: 5px 20px;
    transition: 0.2s ease-in-out;
}

.card-btn:hover{
    background: #DD0000;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}
.card-content h2{
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    margin-bottom: 5px;
    margin: 23px 0px;
}

.servics{
    display: flex;
    gap: 25px;
}

.servics p{
    color: red;
    font-size: 16px;
    color: rgba(22, 22, 22, 0.7);
}

.fa-clock, .fa-message{
    margin-right: 10px;
}

.hide-btn {
    background: #DD0000;
    border: 2px solid #DD0000;
    border-radius: 5px;
    padding: 10px 34px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
    margin-left: 44%;
}

.hide-btn:hover{
    background: #fff;
    border: 2px solid #DD0000;
    color: #DD0000;
    
}

/* Match.html part start */
.card-parts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.live-card{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 41px 25px;
    text-align: center;
}

.card-images{
    display: flex;
}

#vs {
    position: relative;
    color: #161616;
    font-weight: 700;
    font-size: 16px;
    bottom: 20px;
    margin: 0 13px;
}
.card-contents{
    padding: ;
}
.card-contents h2{
    font-weight: 600;
    font-size: 20px;
    color: #161616;
    margin-bottom: 5px;
    margin: 23px 0px;
}
.card-contents p{
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}

/* Match.html part end */

/**********************************************
        news-section Css code end
***********************************************/

/**********************************************
        Footer-part Css code start
***********************************************/
footer{
    background: #161616;
    padding: 100px;
}
footer h1{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #fff;
    padding-bottom: 4%;
}
hr{
    width: 80%;
    margin: 0px auto;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style: none;
    margin: 35px 0px 0px 29px;
}

nav li a{
    font-weight: 600;
    font-size: 16px;
    color: #B9B9B9;
}

nav li a:hover{
    color: brown;
}

#social-clr.fa-facebook-f:hover{
    color:  #3b5998;
}
#social-clr.fa-twitter:hover{
    color: #00acee;
}
#social-clr.fa-instagram:hover{
    color: #F7CB4E;
}
#social-clr.fa-linkedin-in:hover{
    color:  #0072b1;
}
/**********************************************
        Footer-part Css code end
***********************************************/