/**********************************************
               Common Style
***********************************************/
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

/**********************************************
        Header-section Css code start
***********************************************/
.container {
    padding: 40px 68px;
}

.header-section {
    display: flex;
    background: #161616;
    border-radius: 30px;
    padding: 111px 71px;
    transition: 0.2s ease;
}

.header-section:hover .heading-left h1{
    color: #faefae;
}
.heading-left, .heading-right{
    width: 50%;
}
.heading-left h1{
    font-weight: 700;
    font-size: 70px;
    color: #FFFFFF;
    line-height: 80px;
    transition: 0.2s ease;
}
.heading-left p{
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 61px 0px;
    text-align: justify;
}
.heading-btn{
    background: #DD0000;
    border: 2px solid #DD0000;
    border-radius: 5px;
    padding: 14px 25px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
}

.heading-btn .fa-arrow-right{
    margin-left: 5px;
}

.heading-btn:hover{
    border: 2px solid #faefae;
    color: #DD0000;
    background: #faefae;
}

.banner-image img {
    width: 559px;
    height: 600px;
    position: absolute;
    right: 85px;
}
/**********************************************
        Header-section Css code end
***********************************************/

/**********************************************
        news-section Css code start
***********************************************/
.news-section{
    display: flex;
    gap: 18px;
    padding-bottom: 80px;
}
.side-menu {
    max-width: 50%;
}
aside.menu-bar {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 4em;
    gap: 20px;
    background-color: #d49b7e;
    padding: 20px;
    border-radius: 10px;
}

.aside-btn{
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    border: 1px solid #fff;
    padding: 14px 20px;
    background: #FFFFFF;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    text-align: center;
}

.aside-btn:hover{
    background-color: #253949;
    border: 1px solid #253949;
    color: #fff;
}

#blog{
    background-color: #253949;
    border: 1px solid #253949;
    color: #FFFFFF;
}

#blogs{
    background-color:#814355;
    border: 1px solid #814355;
    color: #fff;
}
#blog:hover,
#blogs:hover{
    color: #161616;
    border: 1px solid #fff;
    background: #FFFFFF;
}

.card-part{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 18px;
    width: 50%;
}

.card{
    border: 1px solid lightgray;
    border-radius: 10px;
}

.card-content{
    padding: 20px;
}

.card-btn{
    font-weight: 500;
    font-size: 16px;
    color: #161616;
    border-radius: 5px;
    border: 1px solid#161616;
    padding: 5px 20px;
    transition: 0.2s ease-in-out;
}

.card-btn:hover{
    background: #DD0000;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 5px;
}
.card-content h2{
    font-weight: 600;
    font-size: 18px;
    color: #161616;
    margin-bottom: 5px;
    margin: 23px 0px;
}

.servics{
    display: flex;
    gap: 25px;
}

.servics p{
    color: red;
    font-size: 16px;
    color: rgba(22, 22, 22, 0.7);
}

.fa-clock, .fa-message{
    margin-right: 10px;
}

.hide-btn {
    background: #DD0000;
    border: 2px solid #DD0000;
    border-radius: 5px;
    padding: 10px 34px;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    transition: 0.3s ease-in-out;
    margin-left: 44%;
    display: none;
}

.hide-btn:hover{
    background: #fff;
    border: 2px solid #DD0000;
    color: #DD0000;
    
}

/* Match.html part start */
.card-parts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.live-card{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 41px 25px;
    text-align: center;
}

.card-images{
    display: flex;
}

#vs {
    position: relative;
    color: #161616;
    font-weight: 700;
    font-size: 16px;
    bottom: 20px;
    margin: 0 13px;
}
.card-contents h2{
    font-weight: 600;
    font-size: 20px;
    color: #161616;
    margin-bottom: 5px;
    margin: 23px 0px;
}
.card-contents p{
    font-weight: 400;
    font-size: 16px;
    color: #4D4D4D;
}

/* Match.html part end */

/**********************************************
        news-section Css code end
***********************************************/

/**********************************************
        Footer-part Css code start
***********************************************/
footer{
    background: #161616;
    padding: 100px;
}
footer h1{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #fff;
    padding-bottom: 4%;
}
hr{
    width: 80%;
    margin: 0px auto;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

nav li {
    list-style: none;
    margin: 35px 0px 0px 29px;
}

nav li a{
    font-weight: 600;
    font-size: 16px;
    color: #B9B9B9;
}

nav li a:hover{
    color: brown;
}

#social-clr.fa-facebook-f:hover{
    color:  #3b5998;
}
#social-clr.fa-twitter:hover{
    color: #00acee;
}
#social-clr.fa-instagram:hover{
    color: #F7CB4E;
}
#social-clr.fa-linkedin-in:hover{
    color:  #0072b1;
}
/**********************************************
        Footer-part Css code end
***********************************************/

/**********************************************
           Media-quert part start
***********************************************/

/* Mobile Device */
@media only screen and (min-width: 320px) and (max-width: 480px) {
    .container {
        padding: 40px 21px 10px;
    }

    .header-section {
        border-radius: 14px;
        padding: 50px 41px 672px;
        flex-direction: column;
        text-align: center;
    }

    .heading-left, .heading-right {
        width: 100%;
    }

    .heading-left h1 {
        font-size: 29px;
        line-height: 45px;
        margin-bottom: -35px;
    }

    .heading-left p {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #ccc;
    }

    .banner-image img {
        right: 29px;
        width: 85%;
        top: 46%;
    }

    .news-section {
        flex-direction: column;
        align-items: center;
    }

    .side-menu {
        max-width: 100%;
    }

    aside.menu-bar {
        background-color: transparent;
    }

    .aside-btn {
        border: 1px solid #161616;
    }

    .card-part {
        grid-template-columns: repeat(1, 1fr);
        width: 100%;
    }

    .card-image img{
        width: 100%;
    }

    .card-content {
        padding: 24px;
    }

    .hide-btn {
        display: none;
    }

    footer {
        padding: 54px 100px;
    }

    footer h1 {
        padding-bottom: 16%;
    }
    
    hr {
        width: 100%;
    }

    .list-part nav ul {
        flex-direction: column;
    }
    
}


/* Ipads, Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .container {
        padding: 40px 38px;
    }

    .header-section {
        padding: 111px 33px;
    }

    .banner-image img {
        width: 42%;
        height: 593px;
        right: 49px;
        bottom: 300px;
    }

    .heading-left h1 {
        font-size: 48px;
        line-height: 70px;
    }

    .heading-left p {
        padding: 27px 0px 49px;
    }

    .news-section {
        flex-direction: column;
    }

    .side-menu {
        width: 100%;
    }

    aside.menu-bar {
        flex-direction: row;
        background-color: transparent;
        position: none;
    }

    .aside-btn {
        border: 1px solid #161616;
        padding: 7px 77px;
    }

    .card-part {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    nav li a {
        font-size: 10px;
    }

    nav li {
        margin: 23px 0px 0px 29px;
    }

    footer {
        padding: 52px;
    }

}

/* Small Screens, Laptops */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .container {
        padding: 40px 34px;
    }

    .heading-left h1 {
        font-size: 43px;
    }

    .header-section {
        padding: 111px 37px;
    }

    .banner-image img {
        width: 42%;
        height: 577px;
        right: 48px;
        bottom: 221px;
    }

    .news-section {
        flex-direction: column;
    }

    .side-menu {
        width: 100%;
    }

    aside.menu-bar {
        flex-direction: row;
        background-color: transparent;
        position: none;
    }

    .aside-btn {
        border: 1px solid #161616;
        padding: 7px 77px;
    }

    .card-part {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .card-image img{
        width: 100%;
    }

    nav li a {
        font-size: 10px;
    }

    nav li {
        margin: 23px 0px 0px 29px;
    }

    footer {
        padding: 52px;
    }

}

/* Desktops, Large screen */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .container {
        padding: 40px 34px;
    }

    .heading-left h1 {
        font-size: 43px;
    }

    .header-section {
        padding: 111px 37px;
    }

    .banner-image img {
        width: 42%;
        height: 577px;
        right: 48px;
        bottom: 529px;
    }

    .news-section {
        flex-direction: column;
    }

    .side-menu {
        width: 100%;
    }

    aside.menu-bar {
        flex-direction: row;
        background-color: transparent;
        position: none;
    }

    .aside-btn {
        border: 1px solid #161616;
        padding: 7px 116px;
    }

    .card-part {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }

    .card-image img{
        width: 100%;
    }

    nav li a {
        font-size: 10px;
    }

    nav li {
        margin: 23px 0px 0px 29px;
    }

    footer {
        padding: 52px;
    }

}
/**********************************************
           Media-quert part end
***********************************************/

